<html>
    <head>
        <title>My page</title>
    <body>
        <center>
        <h1>无人机飞行状态</h1>
        </center>
        <center>
        <table border="1" width = "100%">
            <tr>
              <td width="30%"> 飞行位置</td>
              <td width="70%"> 通过GPS获得</td>
            </tr>
            <tr>
              <td>飞行高度</td>
              <td>无人机返回参数</td>
            </tr>
            <tr>
                <td>飞行状态</td>
                <td>无人机返回参数</td>
            </tr>
            <tr>
                <td>飞行时长</td>
                <td>无人机返回参数</td>
            </tr>
            <tr>
                <td>……</td>
                <td>无人机返回参数</td>
            </tr>
            </table>
        </center>	
    </body>
</html>